In [1]:
from utils.processing import *
import numpy as np
import yaml
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
with open("config/config.yaml", 'r') as ymlfile:
    config = yaml.safe_load(ymlfile)
    
LABEL_NAMES = config['LABEL_NAMES'][0]

In [3]:
dev_df, _ = load_file("data/development.csv", sep=",", dtype = {"id": str, "page_rank": int, "label": int})
dev_df_original = dev_df.copy()

  Development set: 79,997 samples, 7 features

In [4]:
dev_df

,Id,source,title,article,page_rank,timestamp,label
0,0,AllAfrica.com,OPEC Boosts Nigeria&#39;s Oil Revenue By .82m Bpd,THE Organisation of Petroleum Exporting Countr...,5,2004-09-16 22:39:53,5
1,1,Xinhua,Yearender: Mideast peace roadmap reaches dead-...,Looking back at the major events that took pla...,5,2004-12-17 19:01:14,0
2,2,Yahoo,Battleground Dispatches for Oct. 5 \\n (CQP...,CQPolitics.com - Here are today's Battleground...,5,2006-10-05 18:42:29,0
3,3,BBC,Air best to resuscitate newborns,Air rather than oxygen should be used to resus...,5,0000-00-00 00:00:00,0
4,4,Yahoo,High tech German train crash kills at least on...,"<p><a href=""://us.rd.yahoo.com/dailynewshttp/r...",5,2006-09-22 17:28:57,0
...,...,...,...,...,...,...,...
79992,79992,Yahoo,Italy's embattled Prodi faces vote of confiden...,"<p><a href=""http://us.rd.yahoo.com/dailynews/r...",5,2008-01-23 11:39:35,0
79993,79993,All-Baseball.com,"Ding Dong, the Deal is Dead","As yesterday began, there was widespread antic...",5,0000-00-00 00:00:00,4
79994,79994,Yahoo,Two bombs discovered in Sardinia after Berlusc...,AFP - Police discovered two bombs near the Sar...,5,0000-00-00 00:00:00,0
79995,79995,Voice,Red Cross Report Alleges US Detainee Abuse at ...,A report by the International Committee of the...,5,0000-00-00 00:00:00,3
79996,79996,Yahoo,UN: Myanmar allows early visit by envoy \\n ...,"<p><a href=""http://us.rd.yahoo.com/dailynews/r...",5,2007-10-24 17:15:44,0

In [5]:
dev_df = preprocess_data(dev_df)

NameError: name 'preprocess_data' is not defined

In [6]:
dev_df

,Id,source,title,article,page_rank,timestamp,label
34369,34369,123Bharath.com,Aussies surprise Indians by their &#39;walking...,"Sports India: Cricket &gt; Chennai, Oct 14 : T...",5,NaT,4
20400,20400,123Bharath.com,Australia take firm grip on third Test against...,"Sports India: Cricket &gt; Nagpur, Oct 28 : Au...",5,NaT,4
64068,64068,123Bharath.com,Contrast tableware spurs appetite in Alzheimer...,"Health India &gt; Washington, Sept 26 : Accord...",5,NaT,6
848,848,123Bharath.com,Multan blast toll rises to 39 :,"World News &gt; Multan, Oct. 7 : At least 39 p...",5,NaT,5
77405,77405,123Bharath.com,NASA&#39;s &#39;Scramjet&#39; makes hypersonic...,"World News &gt; Washington, Nov 17 : NASA&#39;...",5,NaT,5
...,...,...,...,...,...,...,...
40572,40572,swissinfo,World unprepared for avian flu,&quot;We believe with the current influenza va...,5,2004-11-01 10:15:29,3
30654,30654,swissinfo,Wounded pilots land plane after axe attack,Norwegian flight in an unexplained assault tha...,5,NaT,0
15023,15023,swissinfo,Zurich says no to 2014 Winter Olympics,It follows the announcement last week that Zur...,5,NaT,4
53084,53084,top40-charts.com,Australian Record Industry action against oper...,&quot;We are very pleased to see the Australia...,5,2004-11-30 14:49:55,3
50945,50945,top40-charts.com,Rapper ODB and Wu-Tang Clan co-founder found d...,"NEW YORK (Top40 Charts) - Rapper ODB, whose re...",5,NaT,5

In [7]:
dev_df = apply_domain_extraction(dev_df)
dev_df = apply_title_extraction(dev_df)


dic1 = top_feature_by_category(dev_df, 5, 'title_suffix', 0.95)
dic2 = top_feature_by_category(dev_df, 5, 'first_link_domain', 0.95)

In [8]:
dev_df

,Id,source,title,article,page_rank,timestamp,label,first_link_domain,title_suffix
34369,34369,123Bharath.com,Aussies surprise Indians by their &#39;walking...,"Sports India: Cricket &gt; Chennai, Oct 14 : T...",5,NaT,4,NaN,NaN
20400,20400,123Bharath.com,Australia take firm grip on third Test against...,"Sports India: Cricket &gt; Nagpur, Oct 28 : Au...",5,NaT,4,NaN,NaN
64068,64068,123Bharath.com,Contrast tableware spurs appetite in Alzheimer...,"Health India &gt; Washington, Sept 26 : Accord...",5,NaT,6,NaN,NaN
848,848,123Bharath.com,Multan blast toll rises to 39 :,"World News &gt; Multan, Oct. 7 : At least 39 p...",5,NaT,5,NaN,NaN
77405,77405,123Bharath.com,NASA&#39;s &#39;Scramjet&#39; makes hypersonic...,"World News &gt; Washington, Nov 17 : NASA&#39;...",5,NaT,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...
40572,40572,swissinfo,World unprepared for avian flu,&quot;We believe with the current influenza va...,5,2004-11-01 10:15:29,3,NaN,NaN
30654,30654,swissinfo,Wounded pilots land plane after axe attack,Norwegian flight in an unexplained assault tha...,5,NaT,0,NaN,NaN
15023,15023,swissinfo,Zurich says no to 2014 Winter Olympics,It follows the announcement last week that Zur...,5,NaT,4,NaN,NaN
53084,53084,top40-charts.com,Australian Record Industry action against oper...,&quot;We are very pleased to see the Australia...,5,2004-11-30 14:49:55,3,NaN,NaN
50945,50945,top40-charts.com,Rapper ODB and Wu-Tang Clan co-founder found d...,"NEW YORK (Top40 Charts) - Rapper ODB, whose re...",5,NaT,5,NaN,NaN

In [10]:
temp = add_is_label_feature_columns(dev_df, feature = "title_suffix", dict_top_values=dic1)
temp = add_is_label_feature_columns(temp,  feature = "first_link_domain", dict_top_values=dic2)
temp = add_links_numerics(temp)

Id                            0
source                        0
title                         1
article                       1
page_rank                     0
timestamp                 26738
label                         0
first_link_domain         65004
title_suffix              71442
is_0_title_suffix             0
is_2_title_suffix             0
is_3_title_suffix             0
is_4_title_suffix             0
is_6_title_suffix             0
is_0_first_link_domain        0
is_1_first_link_domain        0
is_2_first_link_domain        0
is_5_first_link_domain        0
n_links                       0
n_images                      0
n_ads                         0
n_feeds                       0
dtype: int64

In [15]:
dic2

{0: ['topix.net'],
 1: ['feeds.fool.com'],
 2: ['ad.uk.doubleclick.net',
  'adlog.com.com',
  'blogs.cnet.com',
  'cnet.com',
  'feeds.computerworld.com'],
 5: ['rss.cnn.com', 'newsisfree.com']}

In [9]:
temp

,Id,source,title,article,page_rank,timestamp,label,first_link_domain,title_suffix,is_0_title_suffix,is_2_title_suffix,is_3_title_suffix,is_4_title_suffix,is_6_title_suffix,is_0_first_link_domain,is_1_first_link_domain,is_2_first_link_domain,is_5_first_link_domain
34369,34369,123Bharath.com,Aussies surprise Indians by their &#39;walking...,"Sports India: Cricket &gt; Chennai, Oct 14 : T...",5,NaT,4,NaN,NaN,0,0,0,0,0,0,0,0,0
20400,20400,123Bharath.com,Australia take firm grip on third Test against...,"Sports India: Cricket &gt; Nagpur, Oct 28 : Au...",5,NaT,4,NaN,NaN,0,0,0,0,0,0,0,0,0
64068,64068,123Bharath.com,Contrast tableware spurs appetite in Alzheimer...,"Health India &gt; Washington, Sept 26 : Accord...",5,NaT,6,NaN,NaN,0,0,0,0,0,0,0,0,0
848,848,123Bharath.com,Multan blast toll rises to 39 :,"World News &gt; Multan, Oct. 7 : At least 39 p...",5,NaT,5,NaN,NaN,0,0,0,0,0,0,0,0,0
77405,77405,123Bharath.com,NASA&#39;s &#39;Scramjet&#39; makes hypersonic...,"World News &gt; Washington, Nov 17 : NASA&#39;...",5,NaT,5,NaN,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40572,40572,swissinfo,World unprepared for avian flu,&quot;We believe with the current influenza va...,5,2004-11-01 10:15:29,3,NaN,NaN,0,0,0,0,0,0,0,0,0
30654,30654,swissinfo,Wounded pilots land plane after axe attack,Norwegian flight in an unexplained assault tha...,5,NaT,0,NaN,NaN,0,0,0,0,0,0,0,0,0
15023,15023,swissinfo,Zurich says no to 2014 Winter Olympics,It follows the announcement last week that Zur...,5,NaT,4,NaN,NaN,0,0,0,0,0,0,0,0,0
53084,53084,top40-charts.com,Australian Record Industry action against oper...,&quot;We are very pleased to see the Australia...,5,2004-11-30 14:49:55,3,NaN,NaN,0,0,0,0,0,0,0,0,0
50945,50945,top40-charts.com,Rapper ODB and Wu-Tang Clan co-founder found d...,"NEW YORK (Top40 Charts) - Rapper ODB, whose re...",5,NaT,5,NaN,NaN,0,0,0,0,0,0,0,0,0

# Build pipeline

In [17]:
temp.sample(frac=0.95).to_csv("data/processed_dev.csv", index=False)

In [7]:
from sklearn.model_selection import train_test_split


df_clean = preprocessing_data(dev_df_original)

X = df_clean.drop('label', axis=1)
y = df_clean['label']



X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

Converting timestamp to datetime...
Dropping duplicates based on source, title, article, label keeping the most recent one...
Dropping duplicates that have the same source, title, article but different label...
  Preprocessed Data: 77,180 samples, 7 features

In [8]:
transformer1 = TopFeatureTransformer(feature = "title_suffix")

transformer1.fit(X_train, y_train)

Fitting with top_n=5, threshold=0.95

KeyError: 'title_suffix'